<app-navbar></app-navbar>
<script src="node_modules/chart.js/src/chart.js"></script>
<div class="row">
    <div class="col-md-6">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="chart.data.datasets"
                  [labels]="chart.data.labels"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="chart.type"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
      <!-- <button (click)="randomize()">CLICK</button> -->
  </div>
