<div class="container">
  <div class="jumbotron">
    <h2 class="text-center" id="boardName">{{currentBoardName}}
    </h2>
  </div>

  <button style="float: right;" type="button" class="btn btn-primary">Add a Story</button>&nbsp;&nbsp;
  <button style="float: right;" type="button" class="btn btn-primary">Add User</button>&nbsp;&nbsp;
  <button style="float: right;" type="button" class="btn btn-primary">View Chart</button>
  <br> <br>
</div>

<div class="grid grid-pad" style="width:1800px;height:500px;overflow:auto">
  <!-- start of lane display -->
  <div *ngFor="let lane of lanes; index as i" id="rcorners1" id="rcorner" class="col-1-4">
    <div class="story" style="background:#f0f8ff">
      <div class="story-block">
        <table>
          <br>
          <div>
            <div class="module lane">
              <th class="text-center">
                <div>
                  <h6 class="text-center">{{lane.laneType}}</h6>
                </div>
              </th>
              <ng-container *ngFor="let story of stories" class="col-1-4">
                <div *ngIf="story.laneTypeId == lane.laneId" >
                  <!-- <div class="module story"> -->
                  <tr>
                    <td *ngIf="i > 0">
                      <button style="float: left" type="button" class="btn-sm btn-info" (click)="switchLane(story, i-1)">
                        <</button>
                    </td>
                    <td>
                      <div id="userStories" class="story">
                        <div (click)="displayTasks(story.storyId)" class="story-block">
                          <h6 class="text-center" data-toggle="modal" data-target=".story-modal-sm">Points: {{story.storyPoints}} {{story.storyName}}</h6>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        <div>
                          <p>{{story.storyDesc}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button style="float: right" type="button" class="btn-sm btn-info" (click)="switchLane(story,i+1)">></button>
                    </td>
                  </tr>
                </div>
              </ng-container>
            </div>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>



