<app-navbar></app-navbar>
<div>
  <h2 id="boardName">
    Boards:
  </h2>
    <div *ngIf="selectedBoard" id="selectedBoard">
    <h2 id="boardName">
      "{{selectedBoard.boardName}}" is selected
    </h2>
    <button (click)="onSelect(selectedBoard, selectedBoard.boardId, selectedBoard.boardName)" id="boardName">View Details</button>
  </div>
</div>
<ul class="boards" style="position:relative;">
  <li *ngFor="let board of boards | orderBy:['boardId', 'boardName']" (click)="Select(board)" [class.selected]="board === selectedBoard" style="width:400px;height:100px">
    <span class="board-element">
      <span class="badge">{{board.boardId}}</span>
      <strong>{{board.boardName}}</strong>
    </span>
    <button class="btn btn-md delete-button" (click)="deleteBoard(board.boardId)">Delete</button>
  </li>
</ul>



